version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
      - python-backend

  backend:
    build: ./backend
    ports:
      - "3000:3000"

  python-backend:
    build: ./python-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
